.card {
    display: flex;
    position: relative;
    z-index: 1;
  
    /* transform: translateY(100%);
    opacity: 0; */
    /* transition: transform .3s .5s, opacity .3s .5s; */
  }
  
  .card .card__text {
    transform: translateY(100%);
    opacity: 0;
    transition: transform .3s .5s, opacity .3s .5s;
    /* background-color:#DFA51F; */
    position: absolute;
    left: 555px;
    top: 200px;
    font-size: 24px;
    z-index: 2;
  }
  
  .card .card__image {
    transform: translateY(100%);
    opacity: 0;
    transition: transform .3s .5s, opacity .3s .5s;
    z-index: 2;
  }
  
  .card .card__text .judul {
    position:relative; 
    font-size: 48px;
    text-align: center;
    z-index: 2;
  }
  
  
  .swiper-slide-active .card {
    opacity: 1;
    transform: translateY(0);
  /*   transition: transform .3s, opacity .3s; */
  }
  
  .swiper-slide-active .card .card__text {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s .5s, opacity 1s .5s;
  }
  
  .swiper-slide-active .card .card__image {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s .2s, opacity 1s .2s;
  }
  
  .card__text {
    width: 50%;
  }
  
  .card__image {
    width: 50%;
  }
  
  
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }

  .ecom{
    width: auto;
    height: 50px;
  }
  
  .sosmed{
    width: 42px;
    height: auto;
    margin-bottom: 20px;
  }