  @font-face {
  font-family: 'Bariol Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Regular'), url('~/static/fonts/bariol_regular-webfont.ttf') format('woff');
  }

  *{
    font-family: 'Bariol Regular', sans-serif;
  }

  
  .ecom{
    width: auto;
    height: 50px;
  }
  
  .sosmed{
    width: 42px;
    height: auto;
    margin-bottom: 20px;
  }

  .logo{
    width: 42px;
    height: auto;
    background-color: black;
  }


  swiper-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    gap: 0;
  }

  swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  swiper-slide img {
    display: block;
    width: 1100px;
    height: 600px;
    /* object-fit: cover; */
    scale: 100%;
    gap: 0;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }


  @media (max-width: 768px) {
    swiper-slide img {
      display: block;
      width: 412px;
      height: auto;
      /* object-fit: cover; */
    }

    .btn-wa{
      position: fixed;
      bottom: 0;
      right: 20;
      z-index: 3;
    }

    .sosmed{
      background-color: white;
    }

    .about_image{
      /* width: 400px;
      height: auto;
      background-color: red; */
      display: flex;
      justify-content: center;
      align-items: center;
      scale: 70%;
      margin-left: -80px;
      /* align-items: center; */
    }
  }

  .btn-wa{
    position: fixed;
    bottom: 5;
    right: 40;
  }

  .about_image{
    height: 550px;
    width: 550px;
  }

