{% extends "Master.html" %}
{% load static %}

  {% block navbar %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-warning ">
      <div class="container">
        <a class="navbar-brand text-dark" href="/">
          Litgo
          <img class="logo" src="{{ logo.image.url }}" alt=""
            style="width: 80px; height: auto;"
          >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto mr-12">
            <a class="nav-link text-dark" href="http://localhost:8000/product">Product</a>
            <a class="nav-link text-dark" href="#aboutus">About</a>
            <a class="nav-link text-dark" href="#contact">Contact</a>
            {% comment %} <img class="" src="{% static 'img/white/walogo.svg' %}" > {% endcomment %}
          </div>
        </div>
      </div>
    </nav>
  {% endblock %}

  {% block content %}
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="LitBot"
  agent-id="af6d2a5d-dbd7-41d1-9d65-82dbd5888d39"
  language-code="en"

></df-messenger>
<style> 
  df-messenger { 
  --df-messenger-bot-message: #ffc404; 
  --df-messenger-button-titlebar-color: #ffc404; 
  --df-messenger-chat-background-color: #fafafa; 
  --df-messenger-font-color: #041014; 
  --df-messenger-user-message: #1187ee; } 
  </style>

    <div class="container">
      <h1>Our Healthbar</h1>
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for s in slider %}
            <div class="swiper-slide">
              <div class="card" style="background-color: {{ s.colorBackground }};">
                <div class="card__text ">
                  <h3 class="judul">{{ s.titleImage }}</h3>
                  {{ s.descImage }}
                </div>
                <div class="card__image">
                  <img src="{{ s.image.url }}" alt="">
                </div>
              </div>
            </div>
          {% endfor %}

          {% comment %} <div class="swiper-slide">
            <div class="card" style="background-color: #DFA51F;">
              <div class="card__text ">
                <h3 class="judul">Tasty Nutty</h3>
                Tasty Nutty merupakan snack rasa Kacang yang dibuat menggunakan bahan-bahan pilihan. Dalam 35 gram Tasty Nutty terdapat 24% protein, 2% lemak, dan 6% karbohidrat.
              </div>
              <div class="card__image">
                <img src="{% static '/img/artree-tasty-nutty.jpg' %}" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card" style="background-color: #195699;">
              <div class="card__text">
                <h3 class="judul">Almond Power</h3>
                Almond Power merupakan snack rasa Almond yang dibuat menggunakan bahan-bahan pilihan. Dalam 35 gram Almond Power terdapat 31% protein, 3% lemak, dan 4% karbohidrat.
              </div>
              <div class="card__image">
                <img src="{% static '/img/artree-almond-power.jpg' %}" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card" style="background-color: #D44C26;">
              <div class="card__text">
                <h3 class="judul">Crunchy Cashew</h3>
                Crunchy Cashew merupakan snack rasa Kacang Mete yang dibuat menggunakan bahan-bahan pilihan. Dalam 35 gram Crunchy Cashew terdapat 29% protein, 3% lemak, dan 4% karbohidrat.
              </div>
              <div class="card__image">
                <img src="{% static '/img/artree-crunchy-cashew.jpg' %}" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card" style="background-color: #4B3681;">
              <div class="card__text">
                <h3 class="judul">Raisin Shine</h3>
                Raisin Shine merupakan snack rasa Kismis yang dibuat menggunakan bahan-bahan pilihan. Dalam 35 gram Raisin Shine terdapat 29% protein, 0% lemak, dan 5% karbohidrat.
              </div>
              <div class="card__image">
                <img src="{% static '/img/artree-raisin-shine.jpg' %}" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card" style="background-color: #01A79B;">
              <div class="card__text">
                <h3 class="judul">Coco Delight</h3>
                Coco Delight merupakan snack rasa Kelapa yang dibuat menggunakan bahan-bahan pilihan. Dalam 35 gram Coco Delight terdapat 29% protein, 3% lemak, dan 5% karbohidrat.
              </div>
              <div class="card__image">
                <img src="{% static '/img/artree-coco-delight.jpg' %}" alt="">
              </div>
            </div>
          </div> {% endcomment %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div class="row" id="aboutus">
        <div class="col-sm-12">
          <h2 style="text-align: end; font-size: 36px;">About Us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="">
          <img class="" src="{{ about.image.url }}" 
            alt="" height="550" width="550">
        </div>
        <div class="col-md-6" style="text-align: justify; font-size: 22px;">
            {{ about.title }}
        </div>
      </div>
    </div>
  {% endblock %}

  {% block footer %}
  
  <footer class="" id="contact">
    <div class="container" style="margin-top: 200px;">
      <hr/>
        <div class="row">
            <div class="col-sm-4">
              <img class="mb-5" src= "{% static 'contact.svg' %}" height="10" width="10">
            </div>
            <div class="col-sm-4">
              <div class="flex flex-col gap-5 items-start">
                  <h3 class="text-xl">Contacts</h3>
                  <div class="w-full grid grid-rows-6 gap-3">
                    <div class="w-full">
                      <a class="hover:opacity-40 transition-opacity" href="https://api.whatsapp.com/send?phone=62{{ footer.nomor_hp|slice:"1:" }}">
                        {% comment %} Whatsapp {% endcomment %}
                        <img class="sosmed" src="{% static 'img/footer/whatsapp.png' %}" height="20" width="20">
                      </a>
                    </div>
                    <div class="w-full">
                      <a class="hover:opacity-40 transition-opacity" href= "{{ footer.link_instagram }}" >
                        {% comment %} Instagram {% endcomment %}
                        <img class="sosmed" src="{% static 'img/footer/instagram.png' %}" height="20" width="20">
                      </a>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="flex flex-col gap-5 items-start">
                <h3 class="text-xl">Shops</h3>
                <div class="w-full grid grid-rows-3 place-content-start gap-5">
                  <div class="flex justify-start w-full">
                    <a class="hover:opacity-40 transition-opacity" href="{{ footer.link_tokopedia }}">
                      {% comment %} Tokopedia {% endcomment %}
                      <img class="ecom" src="{% static 'img/footer/tokopedia.png' %}" height="20" width="20">
                    </a>
                  </div>
                  <div class="flex justify-start w-full">
                    <a class="hover:opacity-40 transition-opacity" href="{{ footer.link_blibli }}">
                      {% comment %} BliBli {% endcomment %}
                      <img class="ecom" src="{% static 'img/footer/blibli.png' %}" height="20" width="20">
                    </a>
                  </div>
                  <div class="flex justify-start w-full">
                    <a class="hover:opacity-40 transition-opacity" href="{{ footer.link_shopee }}">
                      {% comment %} Shopee {% endcomment %}
                      <img class="ecom" src="{% static 'img/footer/shopee.png' %}" height="20" width="20">
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <div class="flex flex-col gap-5 items-end">
                <h3 class="text-xl">Location</h3>
                <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=artree healthy snack&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://capcuttemplate.org/">Capcuttemplate.org</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}</style></div>
              </div>
            </div>
        </div>
        <div class="">© 2023 Artree Healthy Snack.</div>
      </div>
    </footer>
  {% endblock %}
